h3{
    text-align: left;
    font-size: 30px;
}
.container{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 20px;
}

img {
    width: 200px;
    align-self: center;
}

.movie-title{
    text-align: center;
}

.movie-card {
    display: flex;
    flex-direction:column;
   padding: 5px;
}
.movie-card:hover{
   background-color: #ffffff20;
   cursor: pointer;
}
