@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
      font-family: 'Bitter', serif;
      background-color: #000;
      color: #fff;
      padding: 0 20px;
      scrollbar-width: none;
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

::-moz-scrollbar {
  display: none;

}
::-webkit-scrollbar {
    display: none;
}


a,a:hover, a:visited{
  color: #fff;
  text-decoration: none;
}


.details-page{
  text-align: center;
}

.details-page .card{
  display: flex;
  text-align: left;
  background-color: #ffffff15;
  font-family: 'Roboto', sans-serif;
  padding:20px;
  gap:10px;
}

.details-page .card div{
  padding: 10px;
}

.details-page .row{
  display: grid;
  grid-auto-columns: 50% 1fr;
}

.backdrop{
  width: 100%;
  position:relative;
}
.backdrop img{
  width: 70%;
}
